<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/signup.css">
  </head>
  <body>
    <h1>Login</h1>
    <form method="post" action="/login">
      <table>
        <tr>
          <td class="label">Username</td>
          <td><input type="text" name="username" value="{{usera}}"></td>
          <td class="error" value="">{{user}}{{user2}}</td>
        </tr>

        <tr>
          <td class="label">Password</td>
          <td><input type="password" name="password" value=""></td>
          <td class="error" value="">{{pass}}</td>
        </tr>
		
		<tr>
			<td class="error" value="">{{error}}</td>
		</tr>
      </table>

      <input type="submit">

    </form>
  </body>
</html>
