<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
  </head>
  <body>
  	<div id="links">
	{% if not user %}
	<a href="/login">login</a> | <a href="/signup">signup</a>
	{% else %}
	<a href="/blog">blog</a> | <a href="/blog/newpost">post</a> | <a href="/blog/map">map</a> | <a href="/logout">logout</a>
	<br>
	{{user}}
	{%endif%}
	</div>
    <h1>New Post</h1>
    <form method="post" action="/blog/newpost">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value= "{{subject}}" >
      </label>
      <label>
        <div>content</div>
        <textarea type="text" name="content">{{content}}</textarea>
      </label>
      <br>
	  <label>
	  <div>ip address</div>
	  <input type="text" name="ip">
	  </label>
	  <br>
	  <div class = "error">{{error}}</div>
	  <br>
      <input type="submit">
    </form>
	<br>


  </body>
</html>
